.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header, footer {
  width: 100%;
}

nav, footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

#book-library {
  border: solid 1px black;
  padding: 8px;
  margin-bottom: 30px;
  width: 70%;
}

.book-container {
  display: flex;
  padding: 3px;
  justify-content: space-between;
}

form > input {
  display: block;
  margin-bottom: 15px;
}

form > button {
  float: right;
}

#book-library tr {
  border: 1px solid #ddd;
  padding: 8px;
}

#book-library td {
  padding: 4px;
}

#book-library tr:nth-child(even) { background-color: #f2f2f2; }

#book-library tr:hover { background-color: #ddd; }
